node_modules/
/vendor/
bower_components/

.env
*.env
.env.*
!.env.example
*.bak
*.swp

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

dist/
build/
out/
.next/
bin/
obj/
coverage/

*.log
logs/
*.tmp
temp/
tmp/

/useless/
uploads/
database/
/smartstudypro-private-learning/
