# --- Dependencies ---
node_modules/
/vendor/
bower_components/

# --- Environment & Security ---
.env
*.env
.env.*
!.env.example
*.bak
*.swp

# --- OS & IDE Files ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# --- Build & Output ---
dist/
build/
out/
.next/
bin/
obj/
coverage/

# --- Logs & Temps ---
*.log
logs/
*.tmp
temp/
tmp/

# --- Project Specific Bloat ---
/useless/