RewriteEngine On
RewriteBase /schoolprojectt/SmartStudyProV2.3/

Options -MultiViews

RewriteRule ^booking\.php$ - [L]

ErrorDocument 400 /schoolprojectt/SmartStudyProV2.3/error.php?code=400
ErrorDocument 401 /schoolprojectt/SmartStudyProV2.3/error.php?code=401
ErrorDocument 403 /schoolprojectt/SmartStudyProV2.3/error.php?code=403
ErrorDocument 404 /schoolprojectt/SmartStudyProV2.3/error.php?code=404
ErrorDocument 405 /schoolprojectt/SmartStudyProV2.3/error.php?code=405
ErrorDocument 408 /schoolprojectt/SmartStudyProV2.3/error.php?code=408
ErrorDocument 409 /schoolprojectt/SmartStudyProV2.3/error.php?code=409
ErrorDocument 410 /schoolprojectt/SmartStudyProV2.3/error.php?code=410
ErrorDocument 413 /schoolprojectt/SmartStudyProV2.3/error.php?code=413
ErrorDocument 415 /schoolprojectt/SmartStudyProV2.3/error.php?code=415
ErrorDocument 422 /schoolprojectt/SmartStudyProV2.3/error.php?code=422
ErrorDocument 429 /schoolprojectt/SmartStudyProV2.3/error.php?code=429
ErrorDocument 500 /schoolprojectt/SmartStudyProV2.3/error.php?code=500
ErrorDocument 501 /schoolprojectt/SmartStudyProV2.3/error.php?code=501
ErrorDocument 502 /schoolprojectt/SmartStudyProV2.3/error.php?code=502
ErrorDocument 503 /schoolprojectt/SmartStudyProV2.3/error.php?code=503
ErrorDocument 504 /schoolprojectt/SmartStudyProV2.3/error.php?code=504

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/index\.php(?:[?\s]|$) [NC]
RewriteRule ^index\.php$ /schoolprojectt/SmartStudyProV2.3/ [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/products\.php(?:[?\s]|$) [NC]
RewriteRule ^products\.php$ /schoolprojectt/SmartStudyProV2.3/products [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/product-details\.php(?:[?\s]|$) [NC]
RewriteRule ^product-details\.php$ /schoolprojectt/SmartStudyProV2.3/product-details [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/courses\.php(?:[?\s]|$) [NC]
RewriteRule ^courses\.php$ /schoolprojectt/SmartStudyProV2.3/courses [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/course-details\.php(?:[?\s]|$) [NC]
RewriteRule ^course-details\.php$ /schoolprojectt/SmartStudyProV2.3/course-details [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/cart\.php(?:[?\s]|$) [NC]
RewriteRule ^cart\.php$ /schoolprojectt/SmartStudyProV2.3/cart [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/checkout\.php(?:[?\s]|$) [NC]
RewriteRule ^checkout\.php$ /schoolprojectt/SmartStudyProV2.3/checkout [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/profile\.php(?:[?\s]|$) [NC]
RewriteRule ^profile\.php$ /schoolprojectt/SmartStudyProV2.3/profile [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/login\.php(?:[?\s]|$) [NC]
RewriteRule ^login\.php$ /schoolprojectt/SmartStudyProV2.3/login [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/register\.php(?:[?\s]|$) [NC]
RewriteRule ^register\.php$ /schoolprojectt/SmartStudyProV2.3/register [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(?:GET|HEAD)$
RewriteCond %{THE_REQUEST} \s/+schoolprojectt/SmartStudyProV2\.3/about\.php(?:[?\s]|$) [NC]
RewriteRule ^about\.php$ /schoolprojectt/SmartStudyProV2.3/about [R=301,L]


RewriteRule ^products/?$ products.php [L,QSA]
RewriteRule ^product-details/?$ product-details.php [L,QSA]

RewriteRule ^courses/?$ courses.php [L,QSA]
RewriteRule ^course-details/?$ course-details.php [L,QSA]

RewriteRule ^cart/?$ cart.php [L,QSA]
RewriteRule ^checkout/?$ checkout.php [L,QSA]

RewriteRule ^profile/?$ profile.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^register/?$ register.php [L,QSA]
RewriteRule ^about/?$ about.php [L,QSA]